/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: ;
  padding: 16px;
}

p:first-letter{
               text-transform: uppercase;
          }
        p {
        color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
        letter-spacing:0.1em;
        text-align:center;
        margin: 40px auto;
        text-transform: lowercase;
        line-height: 115%;
        font-size: 72pt;
        font-variant: small-caps;
        }

cite{
  color: #424242;
  font-size: 120%;
  line-height: 120%;
  letter-spacing:2em;
  margin: 40px auto;
  text-align: center;
  font-variant: small-caps;
}

@media only screen and (max-width: 900px) {
   p {
     color: #424242;
     font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
     font-size: 160%;
     line-height: 120%;
     letter-spacing:0.1em;
     margin: 10px auto;
     text-align:center;
     font-variant: small-caps;
}

@media only screen and (max-width: 900px) {
   cite {
     color: #424242;
     font-size: 80%;
     line-height: 120%;
     letter-spacing:2em;
     margin: 40px auto;
     text-align: center;
     font-variant: small-caps;;
}
